<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="node_modules/chart.js/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
<body>
  <div style="text-align:center">
    <h1>
      Bitcoin Prediction - gives you a better choice in life!
    </h1> 
  </div>
<div ng-app="">
<p>Input the date you want to know for the bitcoin price:</p>
<p>Name : <input type="date" ng-model="Future Price Date" placeholder="Enter name here"></p>
<h2>The expected price on date  {{name}} is:  </h2>
</div>

<div id="canvas">
  <!-- <canvas >{{ chart }}</canvas> -->
</div>

</body>
</html>

